body {
    margin: 0;
}

.index_con {
    margin: 10;
}

.home_con1 {
    margin: 10;
}

.home_con2 {
    margin: 10;
}

.about_con1 {
    margin: 10;
}

.about_con2 {
    margin: 10;
}

.contact_con1 {
    margin: 10;
}

.contact_con2 {
    margin: 10;
}